<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar
    placeholder="Search Movie"
    animated="true"
    debounce="700"
    [value]="textSearch"
    (ionChange)="searchMovie($event)"
    ></ion-searchbar>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="isSearching">
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!isSearching">
    <ion-row>
      <ion-col *ngFor="let movie of movies" size="6">
        <ion-card (click)="showDetails(movie.id)">
          <img [src]="movie.poster_path | imagesUrl">

          <ion-card-header>
            <ion-card-subtitle>{{movie.release_date}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <h2>{{movie.title}}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
