<ion-content [fullscreen]="true">
  <ion-grid fixed="true">
    <ion-row>
      <ion-col>
        <h3>Popular Movies</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slide-show-poster (loadMore)="loadMorePopulariesMovies()" [movies]="getPopulariesMovies"></app-slide-show-poster>
  
  <ion-grid fixed="true">
    <ion-row>
      <ion-col>
        <h3>Movies of this month</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slide-show-backdrop (loadMore)="loadMoreCurrentMonthMovies()" [movies]="moviesCurrentMonth"></app-slide-show-backdrop>

  <ion-grid fixed="true">
    <ion-row>
      <ion-col>
        <h3>Movies</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slide-show-pairs (loadMore)="loadMoreMovies()" [movies]="movies"></app-slide-show-pairs>
</ion-content>
